<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>

            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                            (click)="deleteSelectedVisitors()"
                            [disabled]="!selectedVisitors || !selectedVisitors.length"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="visitors" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['ID','SSN','FN','LN','EM','DP','TS','CL']" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedVisitors" selectionMode="multiple" [rowHover]="true" dataKey="ID">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-cols>
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <ng-container *ngFor="let col of cols">
                            <th>{{ col.header }}</th>
                        </ng-container>
                        <th></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-visitor let-i="rowIndex">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="visitor"></p-tableCheckbox>
                        </td>
                        <ng-container *ngFor="let col of cols">
                            <td *ngIf="col.field !== 'TS'; else timeScheduleColumn">
                                {{ visitor[col.field] }}
                            </td>
                            <ng-template #timeScheduleColumn>
                                <td>
                                    Start Time: {{ visitor.TS.ST }},<br>
                                    End Time: {{ visitor.TS.ET }},<br>
                                    Days of Week: {{ visitor.TS.DW.join(', ') }}
                                </td>
                            </ng-template>
                        </ng-container>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editVisitor(visitor)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                    (click)="deleteVisitor(visitor)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <!-- Shows visitor dialog for add or update visitor -->
            <p-dialog [(visible)]="visitorDialog" [style]="{width: '450px'}" header="Visitor Details" [modal]="true"
                class="p-fluid">
                <ng-template pTemplate="content">
                    <!-- SSN field -->
                    <div class="field">
                        <label for="ssn">SSN</label>
                        <input type="text" pInputText id="ssn" [(ngModel)]="visitor.SSN" required autofocus />
                        <small class="ng-dirty ng-invalid" style="color: red;" *ngIf="submitted && !visitor.SSN">SSN is
                            required.</small>
                    </div>
                    <!-- First Name field -->
                    <div class="field">
                        <label for="firstName">First Name</label>
                        <input type="text" pInputText id="firstName" [(ngModel)]="visitor.FN" required />
                        <small class="ng-dirty ng-invalid" style="color: red;" *ngIf="submitted && !visitor.FN">First
                            Name is required.</small>
                    </div>
                    <!-- Last Name field -->
                    <div class="field">
                        <label for="lastName">Last Name</label>
                        <input type="text" pInputText id="lastName" [(ngModel)]="visitor.LN" required />
                        <small class="ng-dirty ng-invalid" style="color: red;" *ngIf="submitted && !visitor.LN">Last
                            Name is required.</small>
                    </div>
                    <!-- Email field -->
                    <div class="field">
                        <label for="email">Email</label>
                        <input type="email" pInputText id="email" [(ngModel)]="visitor.EM" required />
                        <small class="ng-dirty ng-invalid" style="color: red;" *ngIf="submitted && !visitor.EM">Email is
                            required.</small>
                    </div>
                    <!-- Department field -->
                    <div class="field">
                        <label for="department">Department</label>
                        <input type="text" pInputText id="department" [(ngModel)]="visitor.DP" required />
                        <small class="ng-dirty ng-invalid" style="color: red;"
                            *ngIf="submitted && !visitor.DP">Department is required.</small>
                    </div>
                    <!-- Time Schedule field -->
                    <div class="field">
                        <label for="timeSchedule">Start Time</label>
                        <!-- Start Time input -->
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-clock"></i>
                            </span>
                            <p-calendar inputId="startTime" [(ngModel)]="startTime" dataType="string" dateFormat="HH:mm:ss" [timeOnly]="true"></p-calendar>
                        </div>
                    </div>
                    <div class="field">
                        <label for="timeSchedule">End Time</label>
                        <!-- End Time input -->
                        <div class="p-inputgroup mt-2">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-clock"></i>
                            </span>
                            <p-calendar inputId="endTime" [(ngModel)]="endTime" dataType="string" dateFormat="HH:mm:ss" [timeOnly]="true"></p-calendar>
                        </div>
                        <!-- Days of Week dropdown -->
                        <div class="field">
                            <div class="mt-4">
                                <label for="daysOfWeek">Days of Week</label>
                                <p-multiSelect inputId="daysOfWeek" [(ngModel)]="visitor.TS.DW"
                                    [options]="daysOfWeekOptions" optionLabel="label"
                                    optionValue="value"></p-multiSelect>
                            </div>
                        </div>
                    </div>
                    <!-- Clearance Level field -->
                    <div class="field">
                        <label for="clearanceLevel">Clearance Level</label>
                        <input type="text" pInputText id="clearanceLevel" [(ngModel)]="visitor.CL" required />
                        <small class="ng-dirty ng-invalid" style="color: red;"
                            *ngIf="submitted && !visitor.CL">Clearance Level is
                            required.</small>
                    </div>
                </ng-template>
                <!-- Cancel and Save buttons -->
                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                        (click)="hideDialogs()"></button>
                    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                        (click)="saveVisitor()"
                        *ngIf="!visitor.ID || (visitor.ID && visitor.SSN && visitor.FN && visitor.LN && visitor.EM && visitor.DP && visitor.TS.ST && visitor.TS.ET && visitor.TS.DW && visitor.CL)"></button>
                </ng-template>
            </p-dialog>


            <!-- Delete Confirmation page for one visitor -->
            <p-dialog [(visible)]="deleteVisitorDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span *ngIf="visitor">Are you sure you want to delete visitor
                        <b>{{visitor.FN}} {{visitor.LN}}</b>?</span>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                        (click)="deleteVisitorDialog = false"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                        (click)="confirmDelete(visitor)"></button>
                </ng-template>
            </p-dialog>

            <!-- Delete Confirmation page for multiple visitors -->
            <p-dialog [(visible)]="deleteVisitorsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span>Are you sure you want to delete selected visitor credentials?</span>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                        (click)="deleteVisitorsDialog = false"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                        (click)="confirmDeleteSelected()"></button>
                </ng-template>
            </p-dialog>

        </div>
    </div>
</div>